# This is Git's per-user configuration file.
[user]
    name = Mikhail Katychev
    email = mkatych@gmail.com
    signingKey = 9E8549CD2CEB5E59
[core]
    excludesfile = ~/.config/.gitignore_global
    ; pager = bat
    ; pager = bat -p
[pull]
    rebase = true
[commit]
    gpgSign = true
[gpg]
    program = gpg
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[alias]
    ; bshow = "!f() { git show $1 | bat -l \"$(echo $1 | sd '.*\.(.*)' \$1)\" }; f"
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
; [url "git@github.com:"]
;     insteadOf = https://github.com/
[credential]
    ; https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:x-oauth-basic@github.com
    ; https://mkatychev:XXXXXXXXXXXXXXXXXXXX@gitlab.com
    helper = store
[diff]
    colorMoved = default
[delta]
    features = line-numbers decorations
    line-numbers = true
    minus-style = "syntax #340001"
    navigate = true
    plus-style = "syntax #012800"
    side-by-side = false
    syntax-theme = Monokai Extended
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
