*
!*.terminfo
!.config
!.config/alacritty
!.config/alacritty/*
!.config/bat/
!.config/bat/*
!.config/helix
!.config/helix/*
!.config/iterm/
!.config/iterm/*
!.config/nvim
!.config/nvim/**/*
!.config/pgcli
!.config/pgcli/*
!.config/rustfmt
!.config/rustfmt/*
!.config/usr_tools
!.config/usr_tools/**/*
!.fzf.zsh
!.gitconfig
!.gitignore
!.ipython/
!.ipython/*
!.ipython/profile_default/
!.ipython/profile_default/ipython_config.py
!.oh-my-zsh/*
!.profile
!.ptpython/
!.ptpython/*
!.ptpython/config.py
!.rgrc
!.tmux*
!.zprofile
!.zshrc
!.zshrc.aliases
!com.googlecode.iterm2.plist
*.zwc
.DS_Store
.config/helix/runtime
.config/nvim/.netrwhist
.config/pgcli/history
.config/pgcli/log
.ipython/**
.ptpython/history
.config/nvim/plugin/packer_compiled.lua
