*
!.zshrc.aliases
!.zprofile
!.profile
!*.terminfo
!.config/
!.config/iterm/
!.config/iterm/*
!.config/nvim
!.config/nvim/**/*
!.config/pgcli
!.config/pgcli/*
!.config/alacritty
!.config/alacritty/*
!.config/rustfmt
!.config/rustfmt/*
!.config/usr_tools
!.config/usr_tools/**/*
!.gitignore
!.gitconfig
!.ipython/
!.ipython/*
!.ipython/profile_default/
!.ipython/profile_default/ipython_config.py
!.oh-my-zsh/*
!.ptpython/
!.ptpython/*
!.ptpython/config.py
!.tmux*
!.zshrc
!.fzf.zsh
!.rgrc
!com.googlecode.iterm2.plist
.DS_Store
.config/nvim/.netrwhist
.config/pgcli/log
.config/pgcli/history
.ipython/**
.ptpython/history
*.zwc
